<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Alunos</title>
</head>
<body>
    <div action="index.php" method="post">
        <table>
            <tr>
                <th>Nome</th>
                <th>Nome</th>
                <th>Nome</th>
            </tr>
            <tr>
                <td>Nome</td>
                <td>Nome</td>
                <td>Nome</td>
            </tr>
        </table>
    </div>
</body>
</html>